
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: serif, sans-serif;
    color: black;
}

h1 {
    font-size: 2.5rem;
    color: antiquewhite;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
h5 {
    font-size: 18px;
}
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 900px;
}

header, footer, footer a {
    text-align: center;
    background-color: darkgreen;
    color: whitesmoke;
}

header img {
    width: 160px;
    height: auto;
    float: right;
}

label {display: block;
}
label span {display: block;
padding-top: 0.8rem;
padding-bottom: 0.2rem;}

footer {
    font-size: smaller;
}
img {
    display: block;
    padding: 5px;
}

#img {
    display: flex;
    flex-direction: column;
    align-content:space-between;
}
.frame {
    padding: 10px;
    background-color: bisque;
}
.myCanvas {
    border: solid 2px black;
}
label {display: block;
}
label span {display: block;
padding-top: 0.8rem;
padding-bottom: 0.2rem;}
#notes {
    font-size: smaller;
}

#color {
  background-color: darkgreen;
  width: 500px;
  height: 200px;
  transition: background-color 0.5s ease-in;
}
.button {
    margin-top: 20px;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.hidden {
    visibility: hidden;
}
.removed {
    display: none;
}
.box {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    border-radius: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fade {
    
    width:200px;
    height: 200px;
    background-color: darkgreen;
    margin: 20px;
    opacity: 100;
    transition: all 1.5s;
}
#buttonFade {
    display: block;
    margin: 20px;
}
.logo {
    margin: 30px;
    animation:spinning 4s infinite linear;
}
@keyframes spinning {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
.moving {
   animation: moving 4s infinite linear;
}
@keyframes moving {
    from {transform: translate(0,0) rotate(0);}
    30% {transform: translate(300px, 0) rotate(360deg);}
    60% {transform: translate(-300px, 0) rotate(0);}
    to {transform: translate(0, 0) rotate(360deg);}
}
.menu {
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    border: 1px solid gainsboro;
    transition: all 1s;
}
.menu:hover {
    width: 150px;
    height: 80px;
}
.menu a {
    
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
#home:hover>h4 {
    display: block;
    padding-top: 20px;
    
    
}
#aboutUs:hover>h4 {
    display: block;
    padding-top: 20px;
}
#articles:hover>h4 {
    display: block;
    padding-top: 20px;
}
#contacts:hover>h4 {
    display: block;
    padding-top: 20px;
}

h4 {
    display: none;
    text-align: center;
}
#box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
        
}
#box7 {
   width: 100px;
    height: 100px;
    background-color: darkgreen;
        
}
#box8 {
    width: 100px;
    height: 100px;
    background-color: yellow;
        
}
#box9 {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
        
}
.drop {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}
#game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
